.title{
    text-align: center;
    font-family: 'Courier New', monospace;
    font-size: 4vh;
    font-weight: bold;
}
.nav_bar{
    z-index: 100;
    width: 100%;
    box-shadow: 0 2px 2px rgba(0,0,0,.23);
    position: fixed;   
    background-color: #F0E8DB;
}
.nav_container{
    height: inherit;
    margin: 0 auto;
}
ul{
    list-style-type: none;
    margin: 0; 
    padding: 0;
    overflow: hidden;
}
li{
    float: left;
    border-right: 1px solid #bbb;
}
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
li:last-child{
    border-right: none;
}
li a:hover:not(.active){
    background-color: #C7B7A3;
}
.active {
    background-color: #B5C18E;
}
